.HomeNosotros {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.us-title {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.us-p {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.container-img {
  width: 90%;
  height: 10rem;
}

.box-img {
  display: flex;
  width: 100%;
  height: 50%;
  gap: 15px;
}

.img-one {
  width: 30%;
}

.img-two {
  width: 70%;
}

.img-one img {
  width: 100%;
  object-fit: contain;
}

.img-two img {
  width: 100%;
  object-fit: contain;
}
